---
import { menuData } from "@/constants/menu";
import Layout from "@/layouts/Layout.astro";

---
<Layout>
    <div class="menu-section flex items-center justify-center">
        <h2 class="font-bold font-droid-serif text-center text-3xl">
            MENU
        </h2>
    </div>
    <section class=" w-full md:max-w-3xl lg:max-w-5xl mx-auto py-10 px-6 ">

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-14">
        {menuData.map((item) => (
            <div key={item.id} class="flex items-start gap-4 border-b pb-4">
                <img
                    src={item.image}
                    alt={item.title}
                    class="size-32 object-cover rounded-lg"
                />
                <div class="flex-1">
                    <h3 class="text-lg font-semibold text-green-700">
                    {item.title}
                    </h3>
                    <p class="text-sm text-gray-600">{item.description}</p>
                </div>
                <span class="text-lg font-bold text-gray-800">
                    S/. {item.price}
                </span>
            </div>
        ))}
        </div>
    </section>

</Layout>

<style>

.menu-section {
    background-image: url('/src/assets/top-menu.png');
    background-position: center;
    height: 25vh;
}
</style>